.none-white {
  background: #fff;
}
.bg-green {
  background-color: #28a745;
}
.bg-grey {
  background: grey;
}

body {
  box-sizing: border-box;
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 10px;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("background.jpg");
}
#contain-texts {
  width: 80%;
  margin: auto;
}
.texts {
  overflow: hidden;
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  height: 110px;
  border-radius: 10px;
  user-select: none;
  border: 1px solid #550035;
}
.texts span {
  font-size: 2rem;
  line-height: 3.2rem;
  padding: 5px 5px;
  display: inline-block;
}
.highlight {
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
}
.input-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container button {
  margin: 0 10px;
  background: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.input-text {
  font-size: 1.5rem;
  padding: 10px;
  width: 50%;
}
.time {
  font-size: 2rem;
  color: #fff;
  height: 55px;
  text-align: center;
  padding: 7px 20px 0 20px;
  border-radius: 5px;
  user-select: none;
}
.incorrect-word-bg {
  background-color: red;
}
.incorrect-word {
  color: red;
}

.contain-result {
  box-sizing: border-box;
  margin: auto;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 500px;
  display: none;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 20px;
}

.header h2 {
  font-size: 24px;
  margin-bottom: 0;
}

.score {
  display: flex;
  gap: 40px;
}

.score span {
  font-size: 36px;
}

.accuracy,
.wpm {
  color: #007bff; /* Green for good accuracy */
}
.net-speed {
  color: #28a745;
}
.contain-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header button {
  color: #fff;
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
}
.container {
  background-color: #fff;
  margin: auto;
  padding: 30px;
  position: absolute;
  top: 40%; /* Position child elements vertically centered */
  left: 50%; /* Position child elements horizontally centered */
  transform: translate(-50%, -50%); /* Center them precisely */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  /* width: 90%; */
  margin-top: 100px;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.test-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.custom-select {
  flex: 1;
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

select {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
}

#button-start {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#button-start:hover {
  background-color: #3e8e41;
}
